.space{
    text-align: center;
}
/*.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
 
}

.pagination {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination li {
  margin: 0 5px;
}

.pagination button {
  padding: 5px 10px;
  background-color: #f0f0f0;
  border: none;
  cursor: pointer;
}

.pagination button:hover {
  background-color: #ddd;
}

.pagination .active button {
  background-color: #bbb;
}

.pagination button:focus {
  outline: none;
}*/
/* userdata.css */

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 10px;
  border: 1px solid #ccc;
}

th {
  font-weight: bold;
  background-color: #636da4;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

tr:hover {
  background-color: #ddd;
}

.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.pagination {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination li {
  margin: 0 5px;
}

.pagination button {
  padding: 5px 10px;
  background-color: #f0f0f0;
  border: none;
  cursor: pointer;
}

.pagination button:hover {
  background-color: #ddd;
}

.pagination .active button {
  background-color: #bbb;
}

.pagination button:focus {
  outline: none;
}

.toggle-favorites {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.toggle-favorites button {
  padding: 5px 10px;
  background-color: #f0f0f0;
  border: none;
  cursor: pointer;
}

.toggle-favorites button:hover {
  background-color: #ddd;
}